<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>HTTP-400</title>
</head>
<body style="background-color: #222; ">
    <h4  style="margin-top: 25vw; text-align: center; background-color: #222; color: #AAA; font-size: 28px; font-weight: 400; text-decoration: none;">
        HTTP STATUS </h4>
    <h1
        style="margin-top: 5vw; text-align: center; background-color: #222; color: #800; font-size: 48px; font-weight: 400; text-decoration: none;">
        HTTP-400: Bad Request </h1>
    

</body>
</html>